.feature-locations-container1 {
  height: 773px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
 
.feature-locations-max-width {
  align-self: center;
}
 
.feature-locations-content1 {
  width: 100%;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
 
.feature-locations-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.feature-locations-content3 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.feature-locations-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.feature-locations-image1 {
  object-fit: cover;
}
 
.feature-locations-text12 {
  text-align: center;
}
 
.feature-locations-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.feature-locations-link1 {
  font-size: 12px;
}
 
.feature-locations-container4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.feature-locations-image2 {
  object-fit: cover;
}
 
.feature-locations-text14 {
  text-align: center;
}
 
.feature-locations-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.feature-locations-link2 {
  text-decoration: none;
}
 
.feature-locations-text17 {
  font-size: 12px;
}
 
.feature-locations-text18 {
  display: inline-block;
  font-size: 14px;
}
 
.feature-locations-text19 {
  display: inline-block;
  font-size: 12px;
}
 
.feature-locations-text20 {
  display: inline-block;
  font-size: 12px;
}
 
.feature-locations-text21 {
  display: inline-block;
  font-size: 14px;
}
 
.feature-locations-text22 {
  display: inline-block;
}
 
.feature-locations-text23 {
  display: inline-block;
  font-size: 12px;
}
 
@media(max-width: 991px) {
  .feature-locations-content1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .feature-locations-content3 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .feature-locations-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .feature-locations-image1 {
    width: 100%;
  }
  .feature-locations-image2 {
    width: 100%;
  }
}
