.usm-hero-university-individual-page1-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.usm-hero-university-individual-page1-column {
  gap: 24px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.usm-hero-university-individual-page1-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.usm-hero-university-individual-page1-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.usm-hero-university-individual-page1-button {
  text-decoration: none;
}
 
.usm-hero-university-individual-page1-container2 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 35%;
  justify-content: flex-start;
}
 
.usm-hero-university-individual-page1-image1 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  flex-grow: 1;
  object-fit: cover;
}
 
.usm-hero-university-individual-page1-text1 {
  display: inline-block;
}
 
.usm-hero-university-individual-page1-text2 {
  display: inline-block;
}
 
.usm-hero-university-individual-page1-text3 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .usm-hero-university-individual-page1-container1 {
    flex-direction: column;
  }
  .usm-hero-university-individual-page1-container2 {
    width: 100%;
    padding-top: 56.25%;
  }
}
 
@media(max-width: 767px) {
  .usm-hero-university-individual-page1-heading1 {
    text-align: center;
  }
  .usm-hero-university-individual-page1-content1 {
    text-align: center;
  }
  .usm-hero-university-individual-page1-actions {
    width: 100%;
    justify-content: center;
  }
  .usm-hero-university-individual-page1-image1 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .usm-hero-university-individual-page1-actions {
    flex-direction: column;
  }
  .usm-hero-university-individual-page1-button {
    width: 100%;
  }
}
