.landing-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.landing-text10 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text11 {
  display: inline-block;
  font-family: "Inter";
  letter-spacing: 0em;
  font-size: var(--dl-font-size-small);
}
 
.landing-text12 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text13 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text14 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text15 {
  display: inline-block;

}
 
.landing-text16 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text17 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text18 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text19 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text20 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text21 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text22 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text23 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text24 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text25 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text26 {
  display: inline-block;
  color: var(--dl-color-theme-primary1);
  transition: color 0.3s ease;
}
 
.landing-text26:hover {
  color: var(--dl-color-theme-accent1);
}
 
.landing-text27 {
  display: inline-block;
  font-size: var(--dl-font-size-medium);
}
 
.landing-text28 {
  display: inline-block;
  color: var(--dl-color-theme-neutral-dark);
}
 
.landing-text29 {
  display: inline-block;
  font-size: var(--dl-font-size-extralarge);
}
 
.landing-text30 {
  display: inline-block;
  font-size: var(--dl-font-size-extralarge);
}
 
.landing-text31 {
  display: inline-block;
  font-size: var(--dl-font-size-extralarge);
}
 
.landing-text32 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text33 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text34 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text35 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text36 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text37 {
  display: inline-block;
  font-size: var(--dl-font-size-extralarge);
}
 
.landing-text38 {
  display: inline-block;
  font-size: var(--dl-font-size-extralarge);
}
 
.landing-text39 {
  display: inline-block;
  font-size: var(--dl-font-size-extralarge);
}
 
.landing-text40 {
  display: inline-block;
  font-size: var(--dl-font-size-extralarge);
}
 
.landing-text41 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text42 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text43 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text44 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text45 {
  display: inline-block;
  font-size: var(--dl-font-size-large);
}
 
.landing-text46 {
  display: inline-block;
  font-size: var(--dl-font-size-large);
}
 
.landing-text47 {
  display: inline-block;
  font-size: var(--dl-font-size-large);
}
 
.landing-text48 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text49 {
  display: inline-block;
  font-size: var(--dl-font-size-small);
}
 
.landing-text50 {
  display: inline-block;
  font-size: var(--dl-font-size-large);
}
 
.landing-text51 {
  display: inline-block;
  font-size: var(--dl-font-size-large);
}
 
.landing-text52 {
  display: inline-block;
  font-size: var(--dl-font-size-large);
}
 
.landing-text53 {
  display: inline-block;
  font-size: var(--dl-font-size-large);
}
 
.landing-text54 {
  display: inline-block;
  font-size: var(--dl-font-size-large);
}
 
.landing-text55 {
  display: inline-block;
}
 
.landing-text56 {
  display: inline-block;
}
 
.landing-text57 {
  display: inline-block;
}
 
.landing-text58 {
  display: inline-block;
}
 
.landing-text59 {
  display: inline-block;
}
 
.landing-text60 {
  display: inline-block;
}
 
.landing-text61 {
  display: inline-block;
}
 
.landing-text62 {
  display: inline-block;
}
 
.landing-text63 {
  display: inline-block;
}
 
.landing-text64 {
  display: inline-block;
}
 
.landing-text65 {
  display: inline-block;
}
 
.landing-text66 {
  display: inline-block;
}
 
.landing-text67 {
  display: inline-block;
}
 
.landing-text68 {
  display: inline-block;
}
 
.landing-text69 {
  display: inline-block;
}
 
.landing-text70 {
  display: inline-block;
}
 
.landing-text71 {
  display: inline-block;
}
 
.landing-text72 {
  display: inline-block;
}
 
.landing-text73 {
  display: inline-block;
}
 
.landing-text74 {
  display: inline-block;
}
 
.landing-text75 {
  display: inline-block;
}
 
.landing-text76 {
  display: inline-block;
}
 
.landing-text77 {
  display: inline-block;
}
 
.landing-text78 {
  display: inline-block;
}
 
.landing-text79 {
  display: inline-block;
}
 
.landing-text80 {
  display: inline-block;
}
 
.landing-text81 {
  display: inline-block;
}
 
.landing-text82 {
  display: inline-block;
}
 
.landing-text83 {
  display: inline-block;
}
 
.thq-heading-1 {
  font-family: STIX Two Text;
  font-weight: 700;
  line-height: 1.5;
}
 
.thq-heading-2 {
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}
 
.thq-heading-3 {
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}
 
.thq-body-large {
  font-size: var(--dl-font-size-small);
  font-family: Noto Sans;
  line-height: 1.5;
}
 
 
.thq-team-image-round {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
 
.thq-section-padding {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits) var(--dl-space-space-fiveunits);
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.thq-section-max-width {
  width: 100%;
  max-width: var(--dl-size-size-maxwidth);
}
 
.thq-img-ratio-1-1 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-imageradius);
}
 
.thq-img-ratio-16-9 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: var(--dl-radius-radius-imageradius);
}
 
.thq-img-ratio-4-3 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  border-radius: var(--dl-radius-radius-imageradius);
}
 
.thq-img-ratio-4-6 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/6;
  border-radius: var(--dl-radius-radius-imageradius);
}
 
.thq-img-round {
  width: 100%;
  border-radius: var(--dl-radius-radius-round);
}
 
.thq-flex-column {
  gap: var(--dl-space-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.thq-flex-row {
  gap: var(--dl-space-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
}
 
.thq-grid-6 {
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
 
.thq-grid-5 {
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
 
.thq-card {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: stretch;
  border-radius: var(--dl-radius-radius-cardradius);
  flex-direction: column;
}
 
.thq-box-shadow {
  box-shadow: 0px 0px 5px -2px var(--dl-color-theme-neutral-dark);
}
 
.thq-grid-3 {
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
 
.thq-grid-4 {
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.thq-grid-2 {
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
 
.thq-checkbox {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.thq-select {
  cursor: pointer;
  appearance: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-inputradius);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg width%3D%2220%22 height%3D%2220%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 20 20%22 fill%3D%22%23000%22%3E%3Cpath d%3D%22M4.293 7.293a1 1 0 011.414 0L10 11.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 8px center;
}
 
.thq-divider-horizontal {
  width: 100%;
  height: 1px;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.thq-icon-small {
  width: 24px;
  height: 24px;
}
 
.thq-button-icon {
  fill: var(--dl-color-theme-secondary1);
  padding: 3px;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-round);
}
 
.thq-button-icon:hover {
  fill: var(--dl-color-theme-secondary2);
}
 
.thq-icon-medium {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
 
.thq-icon-x-small {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.thq-link {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, var(--dl-color-theme-primary1) 50%, var(--dl-color-theme-neutral-dark) 50%);
  transition: background-position 300ms ease;
  font-weight: 600;
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-text-fill-color: transparent;
  font-size: 0.85rem;
}
 
.thq-link:hover {
  background-position: 0 100%;
}
 
.thq-grid-auto-300 {
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
 
.thq-animated-group-vertical-reverse {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  animation: scroll-y 20s linear infinite;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  animation-direction: reverse;
}
 
.thq-animated-group-horizontal-reverse {
  gap: var(--dl-space-space-unit);
  display: flex;
  animation: scroll-x 20s linear infinite;
  min-width: 100%;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-around;
  animation-direction: reverse;
}
 
.thq-animated-group-vertical {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  animation: scroll-y 20s linear infinite;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}
 
.thq-animated-group-horizontal {
  gap: var(--dl-space-space-unit);
  display: flex;
  animation: scroll-x 20s linear infinite;
  min-width: 100%;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-around;
}
 
.thq-animated-group-container-vertical {
  gap: var(--dl-space-space-unit);
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
 
.thq-animated-group-container-horizontal {
  gap: var(--dl-space-space-unit);
  display: flex;
  overflow: hidden;
}
 
.thq-mask-image-vertical {
  mask-image: linear-gradient(to bottom, transparent, black 1%, black 99%, transparent);
}
 
.thq-mask-image-horizontal {
  mask-image: linear-gradient(to right, transparent, black 1%, black 99%, transparent);
}
 
.thq-img-scale {
  transition: 0.3s;
}
 
.thq-img-scale:hover {
  scale: 1.05;
}
 
.thq-animated-card-bg-1 {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  border-radius: var(--dl-radius-radius-cardradius);
  background-color: var(--dl-color-theme-accent1);
}
 
.thq-animated-card-bg-2 {
  transition: transform 0.3s;
  border-radius: var(--dl-radius-radius-cardradius);
  background-color: var(--dl-color-theme-accent2);
}
 
.thq-button-animated {
  outline: none;
  z-index: 1;
  overflow: hidden;
  position: relative;
  border-width: 2px;
}
 
.thq-input::placeholder {
  text-align: center;
  vertical-align: middle;
}
 
.thq-animated-group-container-vertical:hover div {
  animation-play-state: paused;
}
 
.thq-animated-group-container-horizontal:hover div {
  animation-play-state: paused;
}
 
.thq-animated-card-bg-2:has([data-animated="true"]:hover) {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(3deg) skew(0deg, 0deg);
}
 
.thq-animated-card-bg-1:has([data-animated="true"]:hover) {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-6deg) skew(0deg, 0deg);
}
 
.thq-button-animated:before {
  top: 0;
  left: -20%;
  color: var(--dl-color-theme-neutral-light);
  width: 200%;
  height: 101%;
  content: "";
  z-index: 1;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s;
  border-radius: var(--dl-radius-radius-buttonradius);
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .thq-section-padding {
    padding: var(--dl-space-space-unit);
  }
  .thq-grid-6,
  .thq-grid-5,
  .thq-grid-4,
  .thq-grid-3,
  .thq-grid-2 {
    grid-template-columns: 1fr !important;
    padding: 0;
  }
  .landing-text29,
  .landing-text30,
  .landing-text31,
  .landing-text37,
  .landing-text38,
  .landing-text39,
  .landing-text40,
  .landing-text45,
  .landing-text46,
  .landing-text47,
  .landing-text50,
  .landing-text51,
  .landing-text52,
  .landing-text53,
  .landing-text54 {
    font-size: 1.2rem;
  }
  .landing-container {
    min-height: unset;
    padding: 0 5px;
    max-width: 100vw;
    overflow-x: hidden;
  }
  .landing-text27 {
    font-size: 1rem;
  }
  .landing-text61 {
    font-size: 0.9rem;
  }
  .thq-flex-row,
  .thq-flex-column {
    gap: 0.7rem;
  }
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .thq-section-padding {
    padding: 0.5rem;
  }
  .landing-container {
    padding:0px;
    max-width: 100vw;
    overflow-x: hidden;
  }
  .thq-flex-row,
  .thq-flex-column {
    gap: 0.3rem;
  }
  .thq-heading-1,
  .thq-heading-2,
  .thq-heading-3 {
    font-size: 1.1rem;
  }
  .landing-text27 {
    font-size: 0.95rem;
  }
  .landing-text61 {
    font-size: 1.05rem;
  }
  .landing-text10,
  .landing-text11,
  .landing-text12,
  .landing-text13,
  .landing-text14,
  .landing-text15,
  .landing-text16,
  .landing-text17,
  .landing-text18,
  .landing-text19,
  .landing-text20 {
    font-size: 0.9rem !important;
  }
  .thq-section-padding {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  /* Imagini animate Hero mai mici pe telefon */
  .thq-img-ratio-1-1,
  .thq-img-scale {
    max-width: 150px;
    max-height: 150px;
    width: 150px;
    height: 150px;
  }
  .thq-animated-group-horizontal,
  .thq-animated-group-horizontal-reverse {
    gap: 0.5rem;
  }
}