/* .university-presentation-layout216 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.university-presentation-university-container {
  gap: var(--dl-space-space-threeunits);
}
 
.university-presentation-university-image-container {
  width: 990px;
  height: 380px;
}
 
.university-presentation-text10 {
  display: inline-block;
}
 
.university-presentation-text11 {
  display: inline-block;
}
 
.university-presentation-text12 {
  display: inline-block;
}
 
.university-presentation-text13 {
  display: inline-block;
}
 
.university-presentation-text14 {
  display: inline-block;
}
 
.university-presentation-text15 {
  display: inline-block;
}
 
.university-presentation-text16 {
  display: inline-block;
}
 
.university-presentation-text17 {
  display: inline-block;
}
 
.university-presentation-text18 {
  display: inline-block;
}
 
.university-presentation-text19 {
  display: inline-block;
}
 
.university-presentation-text20 {
  display: inline-block;
}
 
.university-presentation-text21 {
  display: inline-block;
}
 
.university-presentation-text22 {
  display: inline-block;
}
 
.university-presentation-text23 {
  display: inline-block;
}
 
.university-presentation-text24 {
  display: inline-block;
}
 
.university-presentation-text25 {
  display: inline-block;
}
 
.university-presentation-text26 {
  display: inline-block;
}
 
.university-presentation-text27 {
  display: inline-block;
}
 
.university-presentation-text28 {
  display: inline-block;
}
 
.university-presentation-text29 {
  display: inline-block;
}
 
.university-presentation-text30 {
  display: inline-block;
}
 
.university-presentation-text31 {
  display: inline-block;
}
 
.university-presentation-text32 {
  display: inline-block;
}
 
.university-presentation-text33 {
  display: inline-block;
}
 
.university-presentation-university-content {
  width: 1592px;
}
 
.university-presentation-university-component1 {
  gap: var(--dl-space-space-unit);
  align-items: flex-start;
}
 
.university-presentation-university-title {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.university-presentation-university-component2 {
  align-self: stretch;
  align-items: flex-start;
}
 
.university-presentation-list-item1 {
  gap: var(--dl-space-space-halfunit);
  align-items: flex-start;
}
 
.university-presentation-list-item2 {
  gap: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.university-presentation-text37 {
  align-self: flex-start;
}
 
.university-presentation-text38 {
  align-self: flex-start;
}
 
.university-presentation-text39 {
  align-self: flex-start;
}
 
.university-presentation-university-action-buttons {
  align-self: flex-start;
}
 
.university-presentation-university-see-more-button {
  text-decoration: none;
}
 
.university-presentation-university-contact-university-button {
  text-decoration: none;
}
 
.university-presentation-text40 {
  display: inline-block;
}
 
.university-presentation-text41 {
  display: inline-block;
}
 
.university-presentation-text42 {
  display: inline-block;
}
 

 
@media(max-width: 1200px) {
  .university-presentation-list-item1 {
    width: 326px;
  }
  .university-presentation-text36 {
    width: 191px;
    height: 81px;
    display: flex;
    align-self: flex-start;
    flex-direction: row;
  }
}
 
@media(max-width: 991px) {
  .university-presentation-layout216 {
    width: 100%;
  }
  .university-presentation-university-container {
    flex-direction: column;
  }
  .university-presentation-image1 {
    width: 100%;
  }
  .university-presentation-university-content {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .university-presentation-university-container {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .university-presentation-university-component2 {
    flex-direction: column;
  }
  .university-presentation-university-action-buttons {
    width: 100%;
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-unit);
  }
  .university-presentation-university-see-more-button {
    width: 100%;
  }
  .university-presentation-university-contact-university-button {
    width: 100%;
  }
} */
