.utm-university-individual-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.utm-university-individual-page-text10 {
  display: inline-block;
  font-size: 12px;
}
 
.utm-university-individual-page-text11 {
  display: inline-block;
  font-family: "Inter";
  letter-spacing: 0em;
}
 
.utm-university-individual-page-text12 {
  display: inline-block;
  font-size: 12px;
}
 
.utm-university-individual-page-text13 {
  display: inline-block;
  font-size: 12px;
}
 
.utm-university-individual-page-text14 {
  display: inline-block;
  font-size: 12px;
}
 
.utm-university-individual-page-text15 {
  display: inline-block;
  font-size: 12px;
}
 
.utm-university-individual-page-text16 {
  display: inline-block;
  font-size: 12px;
}
 
.utm-university-individual-page-text17 {
  display: inline-block;
}
 
.utm-university-individual-page-text18 {
  display: inline-block;
}
 
.utm-university-individual-page-text19 {
  display: inline-block;
}
 
.utm-university-individual-page-text20 {
  display: inline-block;
}
 
.utm-university-individual-page-text21 {
  display: inline-block;
}
 
.utm-university-individual-page-text22 {
  display: inline-block;
}
 
.utm-university-individual-page-text23 {
  display: inline-block;
}
 
.utm-university-individual-page-text24 {
  display: inline-block;
}
 
.utm-university-individual-page-text25 {
  display: inline-block;
}
 
.utm-university-individual-page-text26 {
  display: inline-block;
}
 
.utm-university-individual-page-text27 {
  display: inline-block;
}
 
.utm-university-individual-page-text28 {
  display: inline-block;
}
 
.utm-university-individual-page-text29 {
  display: inline-block;
}
 
.utm-university-individual-page-text30 {
  display: inline-block;
}
 
.utm-university-individual-page-text31 {
  font-size: 14px;
}
 
.utm-university-individual-page-text33 {
  display: inline-block;
}
 
.utm-university-individual-page-text34 {
  display: inline-block;
}
 
.utm-university-individual-page-text35 {
  display: inline-block;
}
 
.utm-university-individual-page-text36 {
  font-size: 14px;
}
 
.utm-university-individual-page-text38 {
  display: inline-block;
}
 
.utm-university-individual-page-text39 {
  font-size: 14px;
}
 
.utm-university-individual-page-text41 {
  display: inline-block;
  font-size: 12px;
}
 
.utm-university-individual-page-text42 {
  display: inline-block;
  font-size: 12px;
}
 
.utm-university-individual-page-text43 {
  display: inline-block;
  font-size: 12px;
}
 
.utm-university-individual-page-text44 {
  display: inline-block;
  font-size: 12px;
}
 
.utm-university-individual-page-text45 {
  display: inline-block;
}
 
.utm-university-individual-page-text46 {
  color: var(--dl-color-theme-primary1);
  display: inline-block;
}
 
.utm-university-individual-page-text47 {
  color: var(--dl-color-theme-primary1);
  display: inline-block;
}
 
.utm-university-individual-page-text48 {
  color: var(--dl-color-theme-primary1);
  display: inline-block;
}
 
.utm-university-individual-page-text49 {
  color: var(--dl-color-theme-primary1);
  display: inline-block;
}
 
.utm-university-individual-page-text50 {
  color: var(--dl-color-theme-primary1);
  display: inline-block;
}
 
.utm-university-individual-page-text51 {
  display: inline-block;
}
 
.utm-university-individual-page-text54 {
  display: inline-block;
}
