/* .error404-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.error404-page-text10 {
  display: inline-block;
  font-size: 12px;
}
 
.error404-page-text11 {
  display: inline-block;
}
 
.error404-page-text12 {
  display: inline-block;
  font-size: 12px;
}
 
.error404-page-text13 {
  display: inline-block;
}
 
.error404-page-text14 {
  display: inline-block;
}
 
.error404-page-text15 {
  display: inline-block;
}
 
.error404-page-text16 {
  display: inline-block;
  font-size: 12px;
}
 
.error404-page-text17 {
  display: inline-block;
  font-size: 12px;
}
 
.error404-page-text18 {
  display: inline-block;
}
 
.error404-page-text19 {
  display: inline-block;
  font-size: 12px;
}
 
.error404-page-text20 {
  display: inline-block;
}
 
.error404-page-text21 {
  display: inline-block;
}
 
.error404-page-text22 {
  display: inline-block;
  font-size: 12px;
}
 
.error404-page-text23 {
  display: inline-block;
}
 
.error404-page-text24 {
  display: inline-block;
  font-family: "Inter";
  letter-spacing: 0em;
}
 
.error404-page-text25 {
  display: inline-block;
}
 
.error404-page-text26 {
  display: inline-block;
}
 
.error404-page-text27 {
  display: inline-block;
}
 
.error404-page-text28 {
  display: inline-block;
}
 
.error404-page-text29 {
  display: inline-block;
}
 
.error404-page-text30 {
  display: inline-block;
}
 
.error404-page-text31 {
  display: inline-block;
}
 
.error404-page-text32 {
  display: inline-block;
}
 
.error404-page-text33 {
  display: inline-block;
}
 
.error404-page-text34 {
  display: inline-block;
}
 
.error404-page-text35 {
  display: inline-block;
}
 
.error404-page-text36 {
  display: inline-block;
}
 
.error404-page-text37 {
  display: inline-block;
}
 
.error404-page-text38 {
  display: inline-block;
} */
