/* .landing-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.landing-text10 {
  display: inline-block;
  font-size: 12px;
}
 
.landing-text11 {
  display: inline-block;
  font-family: "Inter";
  letter-spacing: 0em;
}
 
.landing-text12 {
  display: inline-block;
  font-size: 12px;
}
 
.landing-text13 {
  display: inline-block;
  font-size: 12px;
}
 
.landing-text14 {
  display: inline-block;
  font-size: 12px;
}
 
.landing-text15 {
  display: inline-block;
  font-size: 12px;
}
 
.landing-text16 {
  display: inline-block;
  font-size: 12px;
}
 
.landing-text17 {
  display: inline-block;
}
 
.landing-text18 {
  display: inline-block;
}
 
.landing-text19 {
  display: inline-block;
}
 
.landing-text20 {
  display: inline-block;
}
 
.landing-text21 {
  display: inline-block;
}
 
.landing-text22 {
  display: inline-block;
}
 
.landing-text23 {
  display: inline-block;
}
 
.landing-text24 {
  display: inline-block;
}
 
.landing-text25 {
  display: inline-block;
}
 
.landing-text26 {
  display: inline-block;
}
 
.landing-text27 {
  display: inline-block;
  font-size: 18px;
}
 
.landing-text28 {
  display: inline-block;
  font-size: 28px;
}
 
.landing-text29 {
  display: inline-block;
  font-size: 36px;
}
 
.landing-text30 {
  display: inline-block;
  font-size: 36px;
}
 
.landing-text31 {
  display: inline-block;
  font-size: 36px;
}
 
.landing-text32 {
  display: inline-block;
  font-size: 12px;
}
 
.landing-text33 {
  display: inline-block;
  font-size: 12px;
}
 
.landing-text34 {
  display: inline-block;
  font-size: 12px;
}
 
.landing-text35 {
  display: inline-block;
}
 
.landing-text36 {
  display: inline-block;
  font-size: 12px;
}
 
.landing-text37 {
  display: inline-block;
}
 
.landing-text38 {
  display: inline-block;
}
 
.landing-text39 {
  display: inline-block;
}
 
.landing-text40 {
  display: inline-block;
}
 
.landing-text41 {
  display: inline-block;
}
 
.landing-text42 {
  display: inline-block;
}
 
.landing-text43 {
  display: inline-block;
}
 
.landing-text44 {
  display: inline-block;
}
 
.landing-text45 {
  display: inline-block;
}
 
.landing-text46 {
  display: inline-block;
}
 
.landing-text47 {
  display: inline-block;
}
 
.landing-text48 {
  display: inline-block;
}
 
.landing-text49 {
  display: inline-block;
}
 
.landing-text50 {
  display: inline-block;
  font-size: 24px;
}
 
.landing-text51 {
  display: inline-block;
  font-size: 24px;
}
 
.landing-text52 {
  display: inline-block;
  font-size: 24px;
}
 
.landing-text53 {
  display: inline-block;
  font-size: 24px;
}
 
.landing-text54 {
  display: inline-block;
  font-size: 12px;
}
 
.landing-text55 {
  display: inline-block;
}
 
.landing-text56 {
  display: inline-block;
}
 
.landing-text57 {
  display: inline-block;
}
 
.landing-text58 {
  display: inline-block;
}
 
.landing-text59 {
  display: inline-block;
}
 
.landing-text60 {
  display: inline-block;
}
 
.landing-text61 {
  display: inline-block;
}
 
.landing-text62 {
  display: inline-block;
}
 
.landing-text63 {
  display: inline-block;
}
 
.landing-text64 {
  display: inline-block;
}
 
.landing-text65 {
  display: inline-block;
}
 
.landing-text66 {
  display: inline-block;
}
 
.landing-text67 {
  display: inline-block;
}
 
.landing-text68 {
  display: inline-block;
}
 
.landing-text69 {
  display: inline-block;
}
 
.landing-text70 {
  display: inline-block;
}
 
.landing-text71 {
  display: inline-block;
}
 
.landing-text72 {
  display: inline-block;
}
 
.landing-text73 {
  display: inline-block;
}
 
.landing-text74 {
  display: inline-block;
}
 
.landing-text75 {
  display: inline-block;
}
 
.landing-text76 {
  display: inline-block;
}
 
.landing-text77 {
  display: inline-block;
}
 
.landing-text78 {
  display: inline-block;
}
 
.landing-text79 {
  display: inline-block;
}
 
.landing-text80 {
  display: inline-block;
}
 
.landing-text81 {
  display: inline-block;
}
 
.landing-text82 {
  display: inline-block;
}
 
.landing-text83 {
  display: inline-block;
} */
