.living-in-moldova-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.living-in-moldova-text100 {
  display: inline-block;
  font-size: 12px;
}
 
.living-in-moldova-text101 {
  display: inline-block;
  font-family: "Inter";
  letter-spacing: 0em;
}
 
.living-in-moldova-text102 {
  display: inline-block;
  font-size: 12px;
}
 
.living-in-moldova-text103 {
  display: inline-block;
  font-size: 12px;
}
 
.living-in-moldova-text104 {
  display: inline-block;
  font-size: 12px;
}
 
.living-in-moldova-text105 {
  display: inline-block;
  font-size: 12px;
}
 
.living-in-moldova-text106 {
  display: inline-block;
  font-size: 12px;
}
 
.living-in-moldova-text107 {
  display: inline-block;
}
 
.living-in-moldova-text108 {
  display: inline-block;
}
 
.living-in-moldova-text109 {
  display: inline-block;
}
 
.living-in-moldova-text110 {
  display: inline-block;
}
 
.living-in-moldova-text111 {
  display: inline-block;
}
 
.living-in-moldova-text112 {
  display: inline-block;
}
 
.living-in-moldova-text113 {
  display: inline-block;
}
 
.living-in-moldova-text114 {
  display: inline-block;
}
 
.living-in-moldova-text115 {
  display: inline-block;
}
 
.living-in-moldova-text116 {
  display: inline-block;
}
 
.living-in-moldova-text117 {
  display: inline-block;
}
 
.living-in-moldova-text118 {
  display: inline-block;
}
 
.living-in-moldova-text119 {
  display: inline-block;
}
 
.living-in-moldova-text120 {
  display: inline-block;
}
 
.living-in-moldova-text133 {
  display: inline-block;
}
 
.living-in-moldova-text134 {
  display: inline-block;
}
 
.living-in-moldova-text135 {
  display: inline-block;
}
 
.living-in-moldova-text146 {
  display: inline-block;
}
 
.living-in-moldova-text147 {
  display: inline-block;
}
 
.living-in-moldova-text162 {
  display: inline-block;
}
 
.living-in-moldova-text163 {
  display: inline-block;
}
 
.living-in-moldova-text174 {
  display: inline-block;
}
 
.living-in-moldova-text185 {
  display: inline-block;
}
 
.living-in-moldova-text186 {
  display: inline-block;
}
 
.living-in-moldova-text187 {
  display: inline-block;
}
 
.living-in-moldova-text196 {
  display: inline-block;
}
 
.living-in-moldova-text197 {
  display: inline-block;
}
 
.living-in-moldova-text208 {
  display: inline-block;
}
 
.living-in-moldova-text209 {
  display: inline-block;
}
 
.living-in-moldova-text224 {
  display: inline-block;
}
 
.living-in-moldova-text225 {
  display: inline-block;
}
 
.living-in-moldova-text226 {
  display: inline-block;
}
 
.living-in-moldova-text227 {
  display: inline-block;
}
 
.living-in-moldova-text228 {
  display: inline-block;
}
 
.living-in-moldova-text229 {
  display: inline-block;
}
 
.living-in-moldova-text230 {
  display: inline-block;
}
 
.living-in-moldova-text231 {
  display: inline-block;
}
 
.living-in-moldova-text232 {
  display: inline-block;
}
 
.living-in-moldova-text233 {
  display: inline-block;
}
 
.living-in-moldova-text234 {
  display: inline-block;
}
 
.living-in-moldova-text235 {
  display: inline-block;
}
