/* .programms-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.programms-text10 {
  display: inline-block;
  font-size: 12px;
}
 
.programms-text11 {
  display: inline-block;
  font-family: "Inter";
  letter-spacing: 0em;
}
 
.programms-text12 {
  display: inline-block;
  font-size: 12px;
}
 
.programms-text13 {
  display: inline-block;
  font-size: 12px;
}
 
.programms-text14 {
  display: inline-block;
  font-size: 12px;
}
 
.programms-text15 {
  display: inline-block;
  font-size: 12px;
}
 
.programms-text16 {
  display: inline-block;
  font-size: 12px;
}
 
.programms-text17 {
  display: inline-block;
}
 
.programms-text18 {
  display: inline-block;
}
 
.programms-text19 {
  display: inline-block;
}
 
.programms-text20 {
  display: inline-block;
}
 
.programms-text21 {
  display: inline-block;
}
 
.programms-text22 {
  display: inline-block;
}
 
.programms-text23 {
  display: inline-block;
}
 
.programms-text24 {
  display: inline-block;
} */
