/* .sign-up-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.sign-up-text10 {
  display: inline-block;
  font-size: 12px;
}
 
.sign-up-text11 {
  display: inline-block;
  font-family: "Inter";
  letter-spacing: 0em;
}
 
.sign-up-text12 {
  display: inline-block;
  font-size: 12px;
}
 
.sign-up-text13 {
  display: inline-block;
  font-size: 12px;
}
 
.sign-up-text14 {
  display: inline-block;
  font-size: 12px;
}
 
.sign-up-text15 {
  display: inline-block;
  font-size: 12px;
}
 
.sign-up-text16 {
  display: inline-block;
  font-size: 12px;
}
 
.sign-up-text17 {
  display: inline-block;
}
 
.sign-up-text18 {
  display: inline-block;
}
 
.sign-up-text19 {
  display: inline-block;
}
 
.sign-up-text20 {
  display: inline-block;
}
 
.sign-up-text21 {
  display: inline-block;
}
 
.sign-up-text22 {
  display: inline-block;
}
 
.sign-up-text23 {
  display: inline-block;
}
 
.sign-up-text24 {
  display: inline-block;
}
 
.sign-up-text25 {
  display: inline-block;
  font-size: 12px;
}
 
.sign-up-text26 {
  display: inline-block;
  font-size: 12px;
}
 
.sign-up-text27 {
  display: inline-block;
  font-size: 12px;
}
 
.sign-up-text28 {
  display: inline-block;
  font-size: 32px;
} */
