.universities-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.universities-text10 {
  display: inline-block;
  font-size: 12px;
}
 
.universities-text11 {
  display: inline-block;
  font-family: "Inter";
  letter-spacing: 0em;
}
 
.universities-text12 {
  display: inline-block;
  font-size: 12px;
}
 
.universities-text13 {
  display: inline-block;
  font-size: 12px;
}
 
.universities-text14 {
  display: inline-block;
  font-size: 12px;
}
 
.universities-text15 {
  display: inline-block;
  font-size: 12px;
}
 
.universities-text16 {
  display: inline-block;
  font-size: 12px;
}
 
.universities-text17 {
  display: inline-block;
}
 
.universities-text18 {
  display: inline-block;
}
 
.universities-text19 {
  display: inline-block;
}
 
.universities-text20 {
  display: inline-block;
}
 
.universities-text21 {
  display: inline-block;
}
 
.universities-text22 {
  display: inline-block;
}
 
.universities-text23 {
  display: inline-block;
}
 
.universities-text24 {
  display: inline-block;
}
 
.universities-text25 {
  display: inline-block;
}
 
.universities-text26 {
  display: inline-block;
}
 
.universities-text27 {
  display: inline-block;
}
 
.universities-text28 {
  display: inline-block;
}
 
.universities-text29 {
  display: inline-block;
}
 
.universities-text30 {
  display: inline-block;
}
 
.universities-text31 {
  display: inline-block;
}
 
.universities-text32 {
  display: inline-block;
}
 
.universities-text33 {
  display: inline-block;
}
 
.universities-text34 {
  display: inline-block;
}
 
.universities-text35 {
  display: inline-block;
}
 
.universities-text36 {
  display: inline-block;
}
 
.universities-text37 {
  display: inline-block;
}
 
.universities-text38 {
  display: inline-block;
}
 
.universities-text39 {
  display: inline-block;
}
 
.universities-text40 {
  display: inline-block;
}
 
.universities-text41 {
  display: inline-block;
}
 
.universities-text42 {
  display: inline-block;
}
 
.universities-text43 {
  display: inline-block;
}
 
.universities-text44 {
  display: inline-block;
}
 
.universities-text45 {
  display: inline-block;
}
 
.universities-text46 {
  display: inline-block;
}
 
.universities-text47 {
  display: inline-block;
}
